/* ORS Real Estate Search Box */
#ors-realestate-search-box {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
#ors-realestate-search-box .price_near {
  width: 100px;
}
#ors-realestate-search-box .size_near {
  width: 100px;
}
#ors-realestate-search-box .bedrooms {
  width: 25px;
}
#ors-realestate-search-box .bathrooms {
  width: 25px;
}
#ors-realestate-search-box .text_search {
  width: 200px;
}

/* Real Estate Shortcode */
#ors-realestate.shortcode {
  display: inline-block;
  width: 300px;
}
#ors-realestate.shortcode header {
  font-size: bigger;
}
#ors-realestate.shortcode .attachment-medium {
  margin: 0px;
  width: 300px;
}

/* Listings (Excerpts) */
#ors-realestate.listings {
  text-align: center;
}
#ors-realestate.listings article {
  vertical-align: top;
  min-height: 150px;
  text-align: left;
}
#ors-realestate.listings section > a {
  border: solid 1px black;
  float: left;
  margin: 0 20px 10px 0;
}
#ors-realestate.listings article header {
  margin-bottom: 5px;
}
#ors-realestate.listings article header .price {
  display: inline-block;
  padding: 3px 5px;
}
#ors-realestate.listings article header .title {
  display: inline-block;
  padding: 3px 5px;
}
#ors-realestate.listings article header .property-type {
  display: inline-block;
  padding: 3px 5px;
  float: right;
}

/* Single Real Estate */

#ors-realestate.single article {
  padding: 0;
}
#ors-realestate.single article header {
  border-radius 5px 5px 0 0;
  margin: 0;
  padding: 0;
  font-size: 20pt;
}
#ors-realestate.single article header a {
  display: inline-block;
  padding: 15px;
}
#ors-realestate.single article header .price {
  display: inline-block;
  border-radius: 5px 0 0 0;
  float: left;
  padding: 15px;
}
#ors-realestate.single article header .title {
  display: inline-block;
  padding: 15px;
}
#ors-realestate.single article header .property-type {
  display: inline-block;
  float: right;
  border-radius: 0 5px 0 0;
  padding: 15px;
}


/* Common Real Estate Styles */

#ors-realestate .availability.available-now {
  position: relative;
  float: right;
  border: solid 2px rgba(0, 230, 0, 0.35);
  background: rgba(0, 230, 0, 0.25);
  color: green;
  border-radius: 100px 0px 0px 100px;
  width: 90px;
  height: 35px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 9pt;
  font-weight: bold;
}
#ors-realestate .availability.coming-soon {
  position: relative;
  float: right;
  border: solid 2px rgba(230, 0, 0, 0.35);
  background: rgba(230, 0, 0, 0.25);
  color: red;
  border-radius: 100px 0px 0px 100px;
  width: 90px;
  height: 35px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 9pt;
  font-weight: bold;
}
#ors-realestate .not-found {
  width: 500px;
  border: solid 1px #900;
  border-radius: 5px;
  text-align: center;
  margin: 5px auto 20px;
  color: #900;
  background: #fcc;
}
